<!-- Hey, Django I wanna include codes below into block of base -->
{% extends 'music/base.html' %}

{% block body %}
    {% if object_list %}
        <ul>
            <!-- object_list is the default name of list in generic view -->
            {% for album in object_list %}  <!-- python code-->
            <!-- <li><a href="/music/{{ album.id }}/">{{ album.album_title }}</a></li> <!--list item-->
            <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
            <!-- removing hardcoded url, hardcoded url is like /music/ which does not change-->
            {% endfor%}
        </ul>

    {% else %}
        <h3> You don't have any albums</h3>
    {% endif %}
{% endblock %}