html body p,span {
	-webkit-touch-callout: auto !important;
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: text !important;
	-ms-user-select: auto !important;
	user-select: auto !important;    
}

lighter {
	position: relative !important;
    font-family: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
    font-weight: inherit !important;
}

@font-face {
    font-family: MontserratLight; /* 300 */
    src: url(../res/font/Montserrat-Light.eot); /* IE9 Compat Modes */
    src: url(../res/font/Montserrat-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(../res/font/Montserrat-Light.woff2) format('woff2'), /* Modern Browsers */
         url(../res/font/Montserrat-Light.woff) format('woff'), /* Modern Browsers */
         url(../res/font/Montserrat-Light.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: MontserratRegular; /* 400 */
    src: url(../res/font/Montserrat-Regular.eot); /* IE9 Compat Modes */
    src: url(../res/font/Montserrat-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(../res/font/Montserrat-Regular.woff2) format('woff2'), /* Modern Browsers */
         url(../res/font/Montserrat-Regular.woff) format('woff'), /* Modern Browsers */
         url(../res/font/Montserrat-Regular.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: MontserratMedium; /* 500 */
    src: url(../res/font/Montserrat-Medium.eot); /* IE9 Compat Modes */
    src: url(../res/font/Montserrat-Medium.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(../res/font/Montserrat-Medium.woff2) format('woff2'), /* Modern Browsers */
         url(../res/font/Montserrat-Medium.woff) format('woff'), /* Modern Browsers */
         url(../res/font/Montserrat-Medium.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: MontserratMediumItalic; /* 500 */
    src: url(../res/font/Montserrat-MediumItalic.eot); /* IE9 Compat Modes */
    src: url(../res/font/Montserrat-MediumItalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(../res/font/Montserrat-MediumItalic.woff2) format('woff2'), /* Modern Browsers */
         url(../res/font/Montserrat-MediumItalic.woff) format('woff'), /* Modern Browsers */
         url(../res/font/Montserrat-MediumItalic.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: MontserratBold; /* 700 */
    src: url(../res/font/Montserrat-Bold.eot); /* IE9 Compat Modes */
    src: url(../res/font/Montserrat-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(../res/font/Montserrat-Bold.woff2) format('woff2'), /* Modern Browsers */
         url(../res/font/Montserrat-Bold.woff) format('woff'), /* Modern Browsers */
         url(../res/font/Montserrat-Bold.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}

.linerNoSelect {
	-webkit-touch-callout: none !important; /* iOS Safari */
	-webkit-user-select: none !important;   /* Chrome/Safari/Opera */
	-khtml-user-select: none !important;    /* Konqueror */
	-moz-user-select: none !important;      /* Firefox */
	-ms-user-select: none !important;       /* Internet Explorer/Edge */
	user-select: none !important;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.hide {
	visibility: hidden;
}

#linermask {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: #A2A3A3 !important;
	opacity: 0.3;
	z-index: 3000 !important;
}

#liner-modal-container {
	font-family: LinerLatoRegular, Arial !important;
	font-weight: 400 !important;
	display: none; 
	z-index: 888888888 !important; 
	position: absolute !important; 
	top: 31px !important; 
	right: -400px; 
	width: 345px !important; 
	height: 60px !important; 
	background-color: #ffffff !important; 
	border: 1px solid #d9dbdb !important; 
	border-radius: 5px !important; 
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2) !important; 
	text-align: center !important;
}

#liner-modal-container #liner-modal-save-label {
	float: left !important; 
	margin-top: 20px !important; 
	margin-left: 16px !important; 
	background-size: contain !important; 
	background-position: 50% 50% !important; 
	background-repeat: no-repeat !important; 
	width: 185px !important; 
	height: 21px !important; 
	font-family: LinerLatoRegular, Arial !important;
	font-weight: 400 !important; 
	color: #262626 !important; 
	text-align: left !important; 
	margin-right: 7px !important;	
}

#liner-modal-container #liner-modal-save-label.normalFont {
	line-height: 16px !important;
	font-size: 16px !important;
}

#liner-modal-container #liner-modal-save-label.smallFont {
	line-height: 17px !important;
	font-size: 14px !important;
}

#liner-modal-container #liner-modal-save-btn {
	cursor: pointer; 
	float: left !important; 
	margin-top: 13px !important; 
	margin-left: 0px !important; 
	background-size: contain !important; 
	background-position: 50% 50% !important; 
	background-repeat: no-repeat !important; 
	background-color: #a2a3a3; 
	border-radius: 3px !important; 
	width: 100px !important; 
	height: 33px !important; 
	font-family: LinerLatoRegular, Arial !important; 
	font-weight: 400 !important;
	font-size: 15px !important; 
	line-height: 32px !important; 
	color: #ffffff !important;	
}

#liner-modal-container #liner-modal-close-btn {
	cursor: pointer !important; 
	float: left !important; 
	margin-top: 22px !important; 
	margin-left: 11px !important; 
	background-size: contain !important; 
	background-image: url(../res/close@2x.png) !important; 
	width: 14.5px !important; 
	height: 14.5px !important;
}

#liner-modal-container #liner-modal-progressbar {
	display: none; 
	float: left !important; 
	margin-top: 18px !important; 
	margin-left: 10px !important; 
	background-size: contain !important; 
	background-image: url(../res/loading-icon.gif) !important; 
	width: 24px !important; 
	height: 24px !important;	
}

.liner-tt-ani {
	-webkit-transition: 0.35s ease-in-out !important;
	-moz-transition: 0.35s ease-in-out !important;
	-ms-transition: 0.35s ease-in-out !important;
	transition: 0.35s ease-in-out !important;
}

.liner-tooltip {
	display: none;
	position: fixed !important;
	z-index: 9999999 !important;
	width: 200px !important;
	line-height: 1 !important;
	border-radius: 4px !important;
	background-color: #ffffff !important;
	box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.liner-tooltip.liner-tt-mid { /* tooltip middle size */
	width: 330px !important;
}

.liner-tt-container {
	display: block;
}

.liner-color-part {
	width: 100% !important;
	height: 40px !important;
	overflow: hidden !important;
}

.liner-bt {
	cursor: pointer !important;
	float: left !important;
	width: 22px !important;
	height: 22px !important;
	margin-left: 10px !important;
	margin-top: 9px !important;
	background-size: 22px 22px !important; 
	background-position: center !important;
	border-radius: 100% !important;
}

.liner-bt:not(.liner-hl):hover {
	opacity: 0.7;
}

.liner-cp-yellow.liner-tt-mid {
	margin-left: 20px !important;
}

.liner-cp-green.liner-tt-mid {
	margin-left: 30px !important;
}

.liner-cp-orange.liner-tt-mid {
	margin-left: 30px !important;
}

.liner-cp-violet.liner-tt-mid {
	margin-left: 30px !important;
}

.liner-cp-blue.liner-tt-mid {
	margin-left: 30px !important;
}

.liner-cp-pink.liner-tt-mid {
	margin-left: 30px !important;
}

.liner-bt.liner-hd { /* highlight delete button */
	background-image: url(../res/tooltip/x@2x.png) !important;
}

.liner-bt.liner-hl { /* highlight lock button */
	background-image: url(../res/tooltip/lock@2x.png) !important;
}

.liner-commentImg {
	cursor: initial !important;
	width: 32px !important;
	position: absolute !important;
	margin: 0 !important;
	padding: 0 !important; 
	top: -15px !important; 
	left: -25px !important; 
	min-width: 32px!important;
	height: 32px!important;
	min-height: 20px !important;
	max-width: 32px !important;
	max-height: 32px !important;
	z-index: 9999999 !important;
	display: inline;
	background-size: contain !important;
	border-radius: 14px !important;
}

.liner-commentImg .liner-balloon {
	position: absolute !important;
	width: 22px !important;
	height: 22px !important;
	margin: 0 !important; 
	padding: 0 !important; 
	border: none !important; 
	left: 0 !important;
	top: 0 !important; 
	box-shadow: none !important;
	background-image: url(../res/tooltip/comment-balloon@2x.png) !important;
	background-size: cover !important;
}

.liner-tt-line {
	height: 1px !important;
	background-color: #ededed !important;
}

.liner-comment-part {
	width: 100% !important;
	padding-top: 10px !important;
	border-bottom: solid 1px #ededed !important;
}

.liner-save-block {
	display: none !important;
	height: 0px !important;
}

.liner-save-block.liner-tt-mid { /* tooltip middle size */
	display: block !important;
	height: 29px !important;
	width: 100% !important;
}

.liner-sb-label {
	float: right !important;
	margin-right: 15px !important;
	margin-top: 6px !important;
	margin-bottom: 10px !important;
	height: 13px !important;
	text-align: right !important;
	font-family: AppleSDGothicNeo, MontserratRegular !important;
	font-size: 11px !important;
	text-align: right !important;
	text-decoration: none !important;
}

.liner-sb-saving {
	display: none;
	color: #666666 !important;
}

.liner-sb-saved {
	display: none;
	color: #007e7b !important;
	padding-left: 14px !important;
    background-image: url(../res/tooltip/check-ii@2x.png);
    background-size: 9px 7px !important;
    background-position: 0px 2px !important;
    background-repeat: no-repeat !important;
}

.liner-cp-text {
	display: inline-block !important;
	border: none !important;
	margin: 0 !important; 
	padding-left: 9px !important;
	padding-right: 9px !important;
	width: 182px !important;
	height: 25px !important;
	font-family: MontserratRegular !important;
	font-size: 14px !important;
	line-height: 1.57 !important;
	text-align: left !important;
	color: #222222 !important;
	outline: none !important;
	resize: none !important;
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	overflow: hidden !important;
}

::-webkit-input-placeholder {
	color: #999999;
}

:-moz-placeholder { /* Firefox 18- */
	color: #999999;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #999999;
}

:-ms-input-placeholder {
	color: #999999;
}

.liner-cp-text.liner-tt-mid { /* tooltip middle size */
	width: 290px !important;
	height: 46px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.liner-cp-text.liner-tt-midex { /* tooltip middle extended size */
	width: 290px !important;
	height: 116px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.liner-cp-text.liner-tt-big { /* tooltip big size */
	width: 290px !important;
	height: 146px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.liner-mini-btn {
	display: none;
	position: absolute !important;
	width: 24px !important;
	height: 24px !important;
	z-index: 9999999999999999999 !important;
}

.liner-mb {
	display: inline-block !important;
	cursor: pointer !important;
	width: 24px !important;
	height: 24px !important;
    background-image: url(../res/tooltip/mini-btn@2x.png);
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.liner-mb:hover {
	background-image: url(../res/tooltip/mini-btn-p@2x.png);
}

.boxSizing {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	line-height: 1;
}

.liner-no-select {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important;   /* Chrome/Safari/Opera */
  -khtml-user-select: none !important;    /* Konqueror */
  -moz-user-select: none !important;      /* Firefox */
  -ms-user-select: none !important;       /* Internet Explorer/Edge */
  user-select: none !important;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.liner-mask {
	display: none;
	position: fixed !important;
	width: 320px !important;
	height: 421px;
	background-color: #000000;
	opacity: 0.5;
}

.liner-red-popup * {
	line-height: 1;
	margin: 0;
}
.liner-red-popup {
	display: none;
	position: fixed !important;
	top: -12px;
	width: 320px !important;
	height: 44px !important;
	background-color: #f35750 !important;
	transition: 0.35s !important;
	transition-timing-function: cubic-bezier(0.25,0.1,0.25,1) !important;
	-webkit-transition: 0.35s !important;
	-webkit-transition-timing-function: cubic-bezier(0.25,0.1,0.25,1) !important;
}

.liner-red-popup.liner-green {
	background-color: #228d9c !important;
}

.liner-red-popup p {
	width: 300px !important;
	height: 15px !important;
	margin-top: 15px !important;
	margin-left: 14px !important;
	line-height: 15px;
	font-family: MontserratRegular;
	font-size: 12px !important;
	text-align: left !important;
	color: #ffffff !important;
}

.liner-modeon * {
	line-height: 1;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

.liner-modeon p {
	clear: none !important;
}

.liner-modeon {
	cursor: initial;
	display: inline-block;
	position: fixed !important;
	width: 320px !important;
	top: 13px !important;
	right: -350px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25) !important;
	background-color: #ffffff !important;
	transition: 0.65s !important;
	transition-timing-function: cubic-bezier(0.25,0.1,0.25,1) !important;
	-webkit-transition: 0.65s !important;
	-webkit-transition-timing-function: cubic-bezier(0.25,0.1,0.25,1) !important;
	z-index: 99999999999999999 !important;
}

.liner-progress-bar {
	width: 0px;
	height: 4px !important;
	background-color: #00bdb8 !important;
}

.liner-top-container {
	width: 100% !important;
}

.liner-icon-part {
	width: 100% !important;
	height: 56px !important;
}

.liner-icon {
	cursor: pointer !important;
	float: left !important;
	margin: 0 0;
	margin-top: 14px !important;
	margin-left: 15px !important;
	width: 28px;
	height: 28px !important;
	background-image: url(../res/modeon/liner-logo@2x.png) !important; 
	background-size:cover !important; 
	background-position: center !important;
}

.liner-home {
	cursor: pointer;
	float: right !important;
	margin: 0 0;
	margin-top: 15px !important;
	margin-right: 15px !important;
	width: 20px !important;
	height: 20px !important;
	background-image: url(../res/modeon/home@2x.png) !important;
	background-size:cover !important; 
	background-position: center !important;
}

.liner-home:hover {
	background-image: url(../res/modeon/home-p@2x.png) !important;
}

.liner-home-dot {
	position: relative !important;
	margin-top: -3px;
	margin-left: 19px;
	width: 6px !important;
	height: 6px !important;
	background-color: #f35750 !important;
	border-radius: 100% !important;
}

.liner-mini {
	cursor: pointer !important;
	float: right !important;
	margin: 0 0;
	margin-top: 15px !important;
	margin-right: 15px !important;
	width: 20px !important;
	height: 20px !important;
	background-image: url(../res/modeon/min-n@2x.png) !important;
	background-size:cover !important;
	background-position: center !important;
}

.liner-mini:hover {
	background-image: url(../res/modeon/min-p@2x.png) !important;
}

.liner-close {
	cursor: pointer !important;
	float: right !important;
	margin: 0 0;
	margin-top: 15px !important;
	margin-right: 12px !important;
	width: 20px !important;
	height: 20px !important;
	background-image: url(../res/modeon/x-btn@2x.png) !important;
	background-size:cover !important;
	background-position: center !important;
}

.liner-close:hover {
	background-image: url(../res/modeon/x-btn-p@2x.png) !important;
}

.liner-share-normal {
	height: 76px !important;
}

.liner-share-big {
	height: 280px !important;
	border-bottom: 0 !important;
}

.liner-share-part {
	width: 100% !important;
	border-bottom: solid 2px #eeeeee;
}

.liner-detail {
	float: left !important;
	margin-top: 24px !important;
	margin-left: 15px !important;
	width: 195px !important;
	height: 22px !important;
}

.liner-cc {
	display: none;
	float: left !important;
	width: 22px !important;
	height: 22px !important;
	margin: 0 0;
	margin-right: 9px !important;
	background-image: url(../res/modeon/cc-icon@2x.png) !important;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.liner-sl {
	margin: 0;
	line-height: 22px;
	font-family: MontserratRegular;
	font-size: 18px;
	text-align: left;
	color: #000000;
}

.liner-share {
	cursor: pointer !important;
	float: right !important;
	margin: 0 0;
	margin-top: 18px !important;
	margin-right: 14px !important;
	width: 76px !important;
	height: 32px !important;
	line-height: 32px !important;
	font-family: MontserratRegular !important;
	font-size: 12px !important;
	text-align: left !important;
	text-indent: 14px !important;
	text-decoration: none !important;
	color: #ffffff !important;
	background-color: #00bdb8 !important;
	background-image: url(../res/modeon/arrow-down-white@2x.png) !important;
	background-size: 8px 5px !important; 
	background-position: 55px 14px !important;
	background-repeat: no-repeat;
	border-radius: 40px !important;
}

.liner-share-open {
	background-image: url(../res/modeon/arrow-up-white@2x.png) !important;
	background-color: #0ba9a5 !important;
}

.liner-share:hover {
	background-color: #0ca9a4 !important;
}

.liner-triangle-block {
	display: none;
	width: 100%;
	height: 12px;
	margin: 0 0;
	margin-top: 15px !important;
	margin-bottom: -6px !important;
	background-color: #ffffff !important;
	background-image: url(../res/modeon/triangle@2x.png) !important;
	background-size: 25px 12px !important; 
	background-position: 250px 0px !important;
	background-repeat: no-repeat !important;
}

.liner-share-block {
	display: none;
	width: 100%;
	height: 104px;
	background-color: #f4f4f4 !important;
}

.liner-sp-label {
	height: 15px !important;
	font-family: MontserratRegular !important;
	font-size: 13px !important;
	line-height: 1.15 !important;
	text-align: left !important;
	color: #666666 !important;
}

.liner-share-label {
	margin-top: 25px !important;
	margin-left: 15px !important;
}

.liner-share-btn {
	cursor: pointer !important;
	float: left !important;
	margin-top: 10px !important;
	width: 44px !important;
	height: 44px !important;
	background-size: cover !important; 
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.liner-share-btn:hover {
	opacity: 0.7;
}

.liner-facebook {
	margin-left: 13px !important;
	background-image: url(../res/modeon/facebook@2x.png) !important;
}

.liner-twitter {
	margin-left: 6px !important;
	background-image: url(../res/modeon/twitter@2x.png) !important;
}

.liner-link {
	margin-left: 6px !important;
	background-image: url(../res/modeon/copy-link@2x.png) !important;
}

.liner-export-block {
	display: none;
	width: 100%;
	height: 102px;
	background-color: #f4f4f4 !important;
}

.liner-export-label {
	margin-top: 10px !important;
	margin-left: 15px !important;
}

.liner-export-btn {
	cursor: pointer !important;
	float: left !important;
	margin-top: 11px !important;
	width: 40px !important;
	height: 40px !important;
	background-size: cover !important; 
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.liner-export-btn:hover {
	opacity: 0.7;
}

.liner-word {
	margin-left: 15px !important;
	background-image: url(../res/modeon/word@2x.png) !important;
}

.liner-email {
	margin-left: 10px !important;
	background-image: url(../res/modeon/email@2x.png) !important;
}

.liner-google {
	margin-left: 10px !important;
	background-image: url(../res/modeon/google@2x.png) !important;
}

.liner-evernote {
	margin-left: 10px !important;
	background-image: url(../res/modeon/evernote@2x.png) !important;
}

.liner-onenote {
	margin-left: 10px !important;
	background-image: url(../res/modeon/onenote@2x.png) !important;
}

.liner-txt {
	margin-left: 10px !important;
	background-image: url(../res/modeon/txt@2x.png) !important;
}

.liner-detail-part {
	cursor: pointer !important;
	width: 100% !important;
	height: 140px !important;
}

.liner-si-normal {
	margin-left: 15px !important;
	width: 80px !important;
}

.liner-share-image {
	float: left !important;
	margin: 0 0;
	margin-top: 28px !important;
	height: 80px !important;
	background-color: #cccccc;
	background-size: cover;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.liner-title-box {
	float: left !important;
	position: relative !important;
	width: 225px !important;
	height: 100% !important;
	text-align: left !important;
}

.liner-ellipsis {
	-webkit-line-clamp: 2 !important;
	-webkit-box-orient: vertical !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}

.liner-title {
	display: inline-block !important;
	margin: 0;
	margin-top: 28px !important;
	margin-left: 15px !important;
	width: 195px !important;
	max-height: 40px;
	font-family: MontserratRegular !important;
	font-size: 13px !important;
	line-height: 1.54;
	text-align: left !important;
	color: #141823 !important;
}

.liner-name {
	position: absolute !important;
	margin: 0;
	top: 95px !important;
	left: 15px !important;
	width: 100% !important;
	height: 15px !important;
	font-family: MontserratRegular !important;
	font-size: 11px !important;
	line-height: 1.36 !important;
	text-align: left !important;
	color: #999999 !important;
}

.liner-folder-part {
	width: 100% !important;
	height: 90px !important;
	border-bottom: solid 2px #eeeeee;
}

.liner-folder-label {
	margin: 0;
	margin-left: 15px !important;
	width: 195px !important;
	font-family: MontserratRegular !important;
	font-size: 11px !important;
	line-height: 1.36 !important;
	text-align: left !important;
	color: #000000 !important;
}

.liner-folder {
	cursor: pointer;
	margin-top: 10px !important;
	margin-left: 15px !important;
	width: 290px !important;
	height: 40px !important;
	border-radius: 2px !important;
	background-color: #f7f7f8 !important;
	border: solid 1px #e9e9e9 !important;
	background-image: url(../res/modeon/arrow-down-n@2x.png) !important;
	background-size: 8px 5px !important;
	background-position: 268px 18px !important;
	background-repeat: no-repeat !important;

}

.liner-folder:not(.liner-triangle-pressed):hover {
	background-image: url(../res/modeon/arrow-down-p@2x.png) !important;
}

.liner-triangle-pressed {
	background-image: url(../res/modeon/arrow-up-p@2x.png) !important;
}

.liner-folder-name {
	float: left !important;
	margin-top: 12px !important;
	margin-left: 15px !important;
	width: 195px !important;
	height: 15px !important;
	font-family: MontserratRegular !important;
	font-size: 13px !important;
	line-height: 1.15 !important;
	text-align: left !important;
	color: #666666 !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}

.liner-modeon-upgrade-button {
	float: left !important;
	margin: 0 0;
	margin-top: 14px !important;
	margin-left: 15px !important;
	padding: 3px 8px 3px 8px !important;
	font-family: MontserratRegular !important;
	font-size: 13px !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: 1.15 !important;
	letter-spacing: normal !important;
	text-align: left !important;
	text-decoration: none !important;
	text-indent: 17px !important;
	color: #0ca9a4 !important;
	background-image: url(../res/modeon/upgrade-icon@2x.png) !important;
	background-size: 20px 20px !important;
	background-position: 0px 0px !important;
	background-repeat: no-repeat !important;
}

.liner-modeon-upgrade-button.liner-premium-user {
	display: none !important;
}

.liner-bottom-part {
	width: 100% !important;
	height: 51px !important;
}

.liner-setting {
	cursor: pointer;
	float: right !important;
	margin: 0 0;
	margin-top: 15px !important;
	margin-right: 14px !important;
	width: 20px !important;
	height: 20px !important;
	background-image: url(../res/modeon/setting-n@2x.png) !important;
	background-size:cover !important; 
	background-position: center !important;
}

.liner-setting-pressed {
	background-image: url(../res/modeon/setting-n@2x.png) !important;
}

.liner-mini-modeon * {
	line-height: 1;
	margin: 0;
}

.liner-mini-modeon {
	cursor: initial;
	display: none;
	position: fixed !important;
	width: 67px !important;
	top: 50px !important;
	right: -350px;
	transition: 0.65s !important;
	transition-timing-function: cubic-bezier(0.25,0.1,0.25,1) !important;
	-webkit-transition: 0.65s !important;
	-webkit-transition-timing-function: cubic-bezier(0.25,0.1,0.25,1) !important;
	z-index: 99999999999999999 !important;
}

.liner-mm-container {
	width: 100% !important;
}

.liner-mm-label-part {
	height: 15px !important;
	font-family: MontserratRegular !important;
	font-size: 12px !important;
	text-align: center !important;
	color: #999999 !important;
}

.liner-mm-count-part {
	width: 100% !important;
}

.liner-mm-count-block {
	margin-top: 12px !important;
	width: 50px !important;
	height: 50px !important;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
	border: solid 5px #ffe26a;
}

/* progress circle */
.liner-pc {
	position: relative; /* so that children can be absolutely positioned */
	width: 3em;
	height: 3em;
	padding: 0;
	margin-top: 6px;
	font-size: 20px;
	line-height: 3em;
	background-color: #fee47d;
	border-radius: 50%;
}

.liner-pc:after {
	display: block;
	position: absolute;
	border: none;
	top: 0.26em;
	left: 0.26em;
	text-align: center;
	border-radius: 50%;
	width: 2.48em;
	height: 2.48em;
	background-color: #ffffff;
	content: " ";
}

.liner-mm-highlights {
	display: block;
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	line-height: 2.4em !important;
	text-align: center !important;
	font-family: MontserratRegular !important;
	color: #53777A !important;
	z-index: 2 !important;
	font-size: 25px !important;
 	color: #000000 !important;	
}

.liner-mm-check {
	display: none;
	position: absolute;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 0;
	background-image: url(../res/modeon/check-icon@2x.png) !important;
	background-size: 22px 18px !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	z-index: 2 !important;
}

.liner-lhc { /* left half clipper */
	/* a round circle */
	border-radius: 50%;
	width: 3em;
	height: 3em;
	position: absolute; /* needed for clipping */
	clip: rect(0, 3em, 3em, 1.5em); /* clips the whole left half*/ 
}
/* when p>50, don't clip left half*/
.liner-pc.over50 .liner-lhc {
	clip: rect(auto,auto,auto,auto);
}
.liner-vb { /* value bar */
	/*This is an overlayed square, that is made round with the border radius,
	then it is cut to display only the left half, then rotated clockwise
	to escape the outer clipping path.*/ 
	position: absolute; /*needed for clipping*/
	clip: rect(0, 1.5em, 3em, 0);
	width: 3em;
	height: 3em;
	border-radius: 50%;
	border: 0.45em solid #ffc339; /*The border is 0.35 but making it larger removes visual artifacts */
	/*background-color: #4D642D;*/ /* for debug */
	box-sizing: border-box;
}

.liner-mm-expand-btn {
	cursor: pointer;
	position: absolute;
	top: 60px;
	right: 3px;
	width: 14px !important;
	height: 14px !important;
	margin: 0 0;
	background-image: url(../res/modeon/expand-icon@2x.png) !important;
	background-size: 14px 14px !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	z-index: 2 !important;
}

.liner-mm-expand-btn:hover {
	opacity: 0.7;
}

/* Progress bar filling the whole right half for values above 50% */
.liner-pc.over50 .liner-f50b {
	/*Progress bar for the first 50%, filling the whole right half*/
	position: absolute; /*needed for clipping*/
	clip: rect(0, 3em, 3em, 1.5em);
	background-color: #f1cd42;
	border-radius: 50%;
	width: 3em;
	height: 3em;
}
.liner-pc:not(.over50) .liner-f50b { display: none; }

/* Progress bar rotation position */
.liner-pc.p0 .liner-vb { display: none; }
.liner-pc.p1 .liner-vb { transform: rotate(4deg); }
.liner-pc.p2 .liner-vb { transform: rotate(7deg); }
.liner-pc.p3 .liner-vb { transform: rotate(11deg); }
.liner-pc.p4 .liner-vb { transform: rotate(14deg); }
.liner-pc.p5 .liner-vb { transform: rotate(18deg); }
.liner-pc.p6 .liner-vb { transform: rotate(22deg); }
.liner-pc.p7 .liner-vb { transform: rotate(25deg); }
.liner-pc.p8 .liner-vb { transform: rotate(29deg); }
.liner-pc.p9 .liner-vb { transform: rotate(32deg); }
.liner-pc.p10 .liner-vb { transform: rotate(36deg); }
.liner-pc.p11 .liner-vb { transform: rotate(40deg); }
.liner-pc.p12 .liner-vb { transform: rotate(43deg); }
.liner-pc.p13 .liner-vb { transform: rotate(47deg); }
.liner-pc.p14 .liner-vb { transform: rotate(50deg); }
.liner-pc.p15 .liner-vb { transform: rotate(54deg); }
.liner-pc.p16 .liner-vb { transform: rotate(58deg); }
.liner-pc.p17 .liner-vb { transform: rotate(61deg); }
.liner-pc.p18 .liner-vb { transform: rotate(65deg); }
.liner-pc.p19 .liner-vb { transform: rotate(68deg); }
.liner-pc.p20 .liner-vb { transform: rotate(72deg); }
.liner-pc.p21 .liner-vb { transform: rotate(76deg); }
.liner-pc.p22 .liner-vb { transform: rotate(79deg); }
.liner-pc.p23 .liner-vb { transform: rotate(83deg); }
.liner-pc.p24 .liner-vb { transform: rotate(86deg); }
.liner-pc.p25 .liner-vb { transform: rotate(90deg); }
.liner-pc.p26 .liner-vb { transform: rotate(94deg); }
.liner-pc.p27 .liner-vb { transform: rotate(97deg); }
.liner-pc.p28 .liner-vb { transform: rotate(101deg); }
.liner-pc.p29 .liner-vb { transform: rotate(104deg); }
.liner-pc.p30 .liner-vb { transform: rotate(108deg); }
.liner-pc.p31 .liner-vb { transform: rotate(112deg); }
.liner-pc.p32 .liner-vb { transform: rotate(115deg); }
.liner-pc.p33 .liner-vb { transform: rotate(119deg); }
.liner-pc.p34 .liner-vb { transform: rotate(122deg); }
.liner-pc.p35 .liner-vb { transform: rotate(126deg); }
.liner-pc.p36 .liner-vb { transform: rotate(130deg); }
.liner-pc.p37 .liner-vb { transform: rotate(133deg); }
.liner-pc.p38 .liner-vb { transform: rotate(137deg); }
.liner-pc.p39 .liner-vb { transform: rotate(140deg); }
.liner-pc.p40 .liner-vb { transform: rotate(144deg); }
.liner-pc.p41 .liner-vb { transform: rotate(148deg); }
.liner-pc.p42 .liner-vb { transform: rotate(151deg); }
.liner-pc.p43 .liner-vb { transform: rotate(155deg); }
.liner-pc.p44 .liner-vb { transform: rotate(158deg); }
.liner-pc.p45 .liner-vb { transform: rotate(162deg); }
.liner-pc.p46 .liner-vb { transform: rotate(166deg); }
.liner-pc.p47 .liner-vb { transform: rotate(169deg); }
.liner-pc.p48 .liner-vb { transform: rotate(173deg); }
.liner-pc.p49 .liner-vb { transform: rotate(176deg); }
.liner-pc.p50 .liner-vb { transform: rotate(180deg); }
.liner-pc.p51 .liner-vb { transform: rotate(184deg); }
.liner-pc.p52 .liner-vb { transform: rotate(187deg); }
.liner-pc.p53 .liner-vb { transform: rotate(191deg); }
.liner-pc.p54 .liner-vb { transform: rotate(194deg); }
.liner-pc.p55 .liner-vb { transform: rotate(198deg); }
.liner-pc.p56 .liner-vb { transform: rotate(202deg); }
.liner-pc.p57 .liner-vb { transform: rotate(205deg); }
.liner-pc.p58 .liner-vb { transform: rotate(209deg); }
.liner-pc.p59 .liner-vb { transform: rotate(212deg); }
.liner-pc.p60 .liner-vb { transform: rotate(216deg); }
.liner-pc.p61 .liner-vb { transform: rotate(220deg); }
.liner-pc.p62 .liner-vb { transform: rotate(223deg); }
.liner-pc.p63 .liner-vb { transform: rotate(227deg); }
.liner-pc.p64 .liner-vb { transform: rotate(230deg); }
.liner-pc.p65 .liner-vb { transform: rotate(234deg); }
.liner-pc.p66 .liner-vb { transform: rotate(238deg); }
.liner-pc.p67 .liner-vb { transform: rotate(241deg); }
.liner-pc.p68 .liner-vb { transform: rotate(245deg); }
.liner-pc.p69 .liner-vb { transform: rotate(248deg); }
.liner-pc.p70 .liner-vb { transform: rotate(252deg); }
.liner-pc.p71 .liner-vb { transform: rotate(256deg); }
.liner-pc.p72 .liner-vb { transform: rotate(259deg); }
.liner-pc.p73 .liner-vb { transform: rotate(263deg); }
.liner-pc.p74 .liner-vb { transform: rotate(266deg); }
.liner-pc.p75 .liner-vb { transform: rotate(270deg); }
.liner-pc.p76 .liner-vb { transform: rotate(274deg); }
.liner-pc.p77 .liner-vb { transform: rotate(277deg); }
.liner-pc.p78 .liner-vb { transform: rotate(281deg); }
.liner-pc.p79 .liner-vb { transform: rotate(284deg); }
.liner-pc.p80 .liner-vb { transform: rotate(288deg); }
.liner-pc.p81 .liner-vb { transform: rotate(292deg); }
.liner-pc.p82 .liner-vb { transform: rotate(295deg); }
.liner-pc.p83 .liner-vb { transform: rotate(299deg); }
.liner-pc.p84 .liner-vb { transform: rotate(302deg); }
.liner-pc.p85 .liner-vb { transform: rotate(306deg); }
.liner-pc.p86 .liner-vb { transform: rotate(310deg); }
.liner-pc.p87 .liner-vb { transform: rotate(313deg); }
.liner-pc.p88 .liner-vb { transform: rotate(317deg); }
.liner-pc.p89 .liner-vb { transform: rotate(320deg); }
.liner-pc.p90 .liner-vb { transform: rotate(324deg); }
.liner-pc.p91 .liner-vb { transform: rotate(328deg); }
.liner-pc.p92 .liner-vb { transform: rotate(331deg); }
.liner-pc.p93 .liner-vb { transform: rotate(335deg); }
.liner-pc.p94 .liner-vb { transform: rotate(338deg); }
.liner-pc.p95 .liner-vb { transform: rotate(342deg); }
.liner-pc.p96 .liner-vb { transform: rotate(346deg); }
.liner-pc.p97 .liner-vb { transform: rotate(349deg); }
.liner-pc.p98 .liner-vb { transform: rotate(353deg); }
.liner-pc.p99 .liner-vb { transform: rotate(356deg); }
.liner-pc.p100 .liner-vb { transform: rotate(360deg); }

/* ANIMATIONS */
.liner-tm-ani { /* transform mini modeon */
	display: block;
	top: 48px !important;
	width: 60px !important;
	height: 60px !important;
	border-radius: 100% !important;
	-webkit-transition: 0.15s linear !important;
	-moz-transition: 0.15s linear !important;
	-ms-transition: 0.15s linear !important;
	transition: 0.15s linear !important
}

.liner-tn-ani { /* transform normal modeon */
	display: block;
	width: 320px !important;
	height: 370px !important;
	background-color: #ffffff !important;
	-webkit-transition: 0.25s linear !important;
	-moz-transition: 0.25s linear !important;
	-ms-transition: 0.25s linear !important;
	transition: 0.25s linear !important
}

.liner-setting-popup * {
	line-height: 1;
	margin: 0;
	padding: 0;
	text-align: left;
}

.liner-setting-popup {
	cursor: initial;
	display: none;
	position: absolute !important;
	width: 302px !important;
	height: 204px !important;
	top: 78px !important;
	left: 9px !important;
}

.liner-container {
	display: inline-block;
	width: 298px !important;
	height: 180px !important;
	background-color: #ffffff;
	box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.liner-noti-label {
	display: inline-block !important;
	margin-top: 28px !important;
	margin-left: 17px !important;
	width: 195px !important;
	font-family: MontserratRegular;
	font-size: 11px;
	line-height: 1.36;
	text-align: left;
	color: #000000;
}

.liner-mini-btn-part {
	display: inline-block !important;
	margin-top: 22px !important;
	width: 100% !important;
	height: 34px !important;
}

.liner-icon-ii {
	float: left !important;
	margin: 0 0;
	margin-top: 0px !important;
	margin-left: 15px !important;
	width: 34px !important;
	height: 34px !important;
	background-image: url(../res/modeon/liner-logo@2x.png) !important; 
	background-size: cover !important; 
	background-position: center !important;
}

.liner-mini-label {
	float: left;
	margin-top: 8px !important;
	margin-left: 16px !important;
	width: 137px !important;
	font-family: AppleSDGothicNeo, MontserratRegular !important;
	font-size: 13px;
	line-height: 1.54;
	text-align: left;
	color: #141823;
}

.liner-sc-btn-part {
	display: inline-block !important;
	margin-top: 19px !important;
	width: 100% !important;
	height: 34px !important;
}

.liner-sc-icon {
	float: left !important;
	margin: 0 0;
	margin-top: 0px !important;
	margin-left: 15px !important;
	width: 34px !important;
	height: 34px !important;
	background-image: url(../res/modeon/shortcut@2x.png) !important; 
	background-size: cover !important; 
	background-position: center !important;
}

.liner-switch {
	background: rgba(255,255,255,0.3);
}
.liner-switch::before {
	background: #bdbdbd;
}
input:checked + .liner-switch {
	background: rgba(128,203,196,0.5);
}
input:checked + .liner-switch::before {
	background: #80cbc4;
}
.liner-switch {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-top: 4px !important;
	margin-left: 32px !important;
	width: 46px;
	height: 28px;
	border-radius: 22px;
	background: #d8d8d8;
	-webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	vertical-align: middle;
}
.liner-switch::before {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 22px;
	height: 22px;
	background: #ffffff;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.1);
	border-radius: 50%;
	-webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.liner-switch:active::before {
	box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .liner-switch {
	background: #4be6d4;
}
input:checked + .liner-switch::before {
	left: 21px;
	background: #ffffff;
}
input:checked + .liner-switch:active::before {
	box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

.liner-folder-list {
	cursor: initial;
	display: none;
	position: absolute !important;
	max-height: 238px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
	border-left: solid 1px #e9e9e9 !important;
	border-right: solid 1px #e9e9e9 !important;
	border-bottom: solid 1px #e9e9e9 !important;
}

.liner-fl-item {
	cursor: pointer;
	width: 290px !important;
	height: 34px !important;
	text-indent: 14px;
	background: #ffffff !important;
	font-family: MontserratRegular !important;
	font-size: 13px !important;
	text-align: left !important;
	color: #666666 !important;
}

.liner-fl-item:not(.liner-no-hover):hover {
	background: #00bdb8 !important;
	color: #ffffff !important;
}

.liner-nf-selected {
	background: #f7f7f8 !important;
}

.liner-fl-item.liner-fl-selected {
	background-image: url(../res/modeon/check-icon-green@2x.png) !important; 
	background-size: 10px 8px !important; 
	background-position: 264px 14px !important;
	background-repeat: no-repeat !important;
}

.liner-nf-item {
	height: 38px !important;
}

.liner-fl-name {
	margin: 0 !important;
	line-height: 2.5;
	-webkit-margin-before: 0px !important;
	-webkit-margin-after: 0px !important;
	-webkit-margin-start: 0px !important;
	-webkit-margin-end: 0px !important;
}

.liner-fl-name.liner-nf-item {
	padding-top: 9px !important;
}

.liner-fl-selected {
	cursor: auto;
	font-weight: bold !important;
	color: #00bdb8 !important;
}

.liner-fl-new {
    padding-bottom: 15px !important;
	padding-top: 9px !important;
	font-family: MontserratRegular !important;
	font-size: 14px !important;
	text-align: left !important;
	color: #000000 !important;
	margin: 0 !important;
	-webkit-margin-before: 0px !important;
	-webkit-margin-after: 0px !important;
	-webkit-margin-start: 0px !important;
	-webkit-margin-end: 0px !important;
}

.liner-fl-new:hover {
	font-weight: bold !important;
}

.liner-fl-foldername {
	display: none;
	float: left !important;
	margin-top: 9px;
	margin-left: 14px;
	width: 195px !important;
	font-family: MontserratRegular !important;
	font-size: 14px !important;
	text-align: left !important;
	color: #666666 !important;
}

.liner-fl-create {
	display: none;
	cursor: pointer !important;
	float: left !important;
	margin-top: 7px !important;
	margin-left: 6px !important;
	width: 60px !important;
	height: 24px !important;
	line-height: 24px !important;
	font-size: 12px !important;
	text-align: center !important;
	text-decoration: none !important;
	text-indent: 0 !important;
	font-family: MontserratRegular !important;
	color: #ffffff !important;
	background-color: #00bdb8 !important;
	border-radius: 20px !important;
}

.liner-fl-create.liner-disabled {
	cursor: not-allowed !important;
	background-color: #cccccc !important;
}

.liner-fl-create:not(.liner-disabled):hover {
	opacity: 0.7;
}

#liner-fl-fn {
	padding: 0px !important;
    border: none !important;
    background-color: #f7f7f8 !important;
    box-shadow: none !important;
}

#liner-fl-fn:focus {
    outline: none;
}

.liner-ee-mask {
	display: none;
	cursor: initial !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: #000000 !important;
	opacity: 0.4 !important;
	z-index: 99999999999999999 !important;
}

.liner-email-export-popup * {
	line-height: 1;
	margin: 0;
	box-sizing: content-box;
}

.liner-email-export-popup p {
	clear: none !important;
}

.liner-email-export-popup {
	display: none;
	cursor: initial !important;
	position: fixed !important;
	top: 120px !important;
	width: 560px !important;
	line-height: 1 !important;
	background-color: #ffffff !important;
	border-radius: 4px !important;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2) !important;
	z-index: 99999999999999999 !important;
}

.liner-eet-part {
	width: 100% !important;
	height: 89px !important;
}

.liner-ee-btn {
	cursor: pointer !important;
	background-size: cover !important; 
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.liner-eet-back {
	display: none;
	float: left !important;
	margin-top: 24px !important;
	margin-left: 40px !important;
	width: 20px !important;
	height: 20px !important;
	background-image: url(../res/modeon/back@2x.png) !important; 
}

.liner-eet-label {
	float: left !important;
	margin-top: 25px !important;
	margin-left: 40px !important;
	height: 22px !important;
	font-family: MontserratMedium !important;
	font-size: 18px !important;
	font-weight: 500 !important;
	text-align: left !important;
	color: #000000 !important;
}

.liner-eet-label.liner-be { /* if back button exists */
	margin-left: 10px !important;
}

.liner-eet-close {
	float: right !important;
	margin-top: 25px !important;
	margin-right: 36px !important;
	width: 20px !important;
	height: 20px !important;
	background-image: url(../res/modeon/close@2x.png) !important; 
}

.liner-eet-close:hover {
	background-image: url(../res/modeon/close-p@2x.png) !important; 
}

.liner-eef-part {
	width: 100% !important;
	height: 40px !important;
}

.liner-eef-label {
	float: left !important;
	margin-top: 16px !important;
	margin-left: 40px !important;
	height: 16px !important;
	font-family: MontserratRegular !important;
	font-size: 13px !important;
	text-align: left !important;
	color: #666666 !important;
}

.liner-eef-gmail {
	float: right !important;
	margin-top: 0px !important;
	margin-right: 36px !important;
	width: 140px !important;
	height: 40px !important;
	background-image: url(../res/modeon/gmail-btn@2x.png) !important; 
}

.liner-eef-gmail:hover {
	opacity: 0.7 !important;
}

.liner-ees-part {
	width: 100% !important;
	height: 111px !important;
}

#liner-ees-email {
	float: left !important;
	margin-top: 30px !important;
	margin-left: 40px !important;
	padding: 0 !important;
	width: 392px !important;
	height: 38px !important;
	outline: none !important;
	text-indent: 10px !important;
	font-family: MontserratRegular !important;
	font-size: 14px !important;
	text-align: left !important;
	color: #999999 !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 0px !important;
	background-color: #ffffff !important;
	border: solid #cccccc !important;
	border-top-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	border-right-width: 0px !important;
	box-sizing: content-box !important;
	box-shadow: none !important;
}

.liner-ees-send {
	float: left !important;
	width: 88px !important;
	height: 40px !important;
	line-height: 43px !important;
	margin-top: 30px !important;
	font-family: MontserratMedium !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	text-align: center !important;
	text-decoration: none !important;
	color: #ffffff !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 4px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 4px !important;
	background-color: #1ebdb8 !important;
}

.liner-ees-send.liner-disabled {
	cursor: not-allowed !important;
	background-color: #cccccc !important;
}

.liner-ees-send:not(.liner-disabled):hover {
	opacity: 0.7 !important;
}

.liner-eel-part {
	display: none;
	position: relative !important;
	width: 100% !important;
}

.liner-eels-block {
	width: 478px !important;
	margin: 0 auto;
}

#liner-eel-search {
	width: 100% !important;
	height: 40px !important;
	margin: 0 auto !important;
	padding: 0 !important;
	outline: none !important;
	text-indent: 45px !important;
	background-color: #ffffff !important;
	border: solid 1px #cccccc !important;
	background-image: url(../res/modeon/search@2x.png) !important; 
	background-size: 13px 14px !important;
	background-position: 19px 13px !important;
	background-repeat: no-repeat !important;
	border-radius: 0 !important;
}

.liner-eeli-common {
	width: 480px !important;
	height: 235px !important;
	max-height: 235px !important;
	margin: 0 auto;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.liner-eeli-block {
}

.liner-eelis-block {
	display: none;
}

.liner-eel-item {
	cursor: pointer !important;
	width: 100% !important;
	height: 40px !important;
	color: #333333 !important;
	background-color: #f8f8f8 !important;
	border: solid 1px #eeeeee !important;
}

.liner-eel-item:hover {
	background-color: #00bdb8 !important;
}

.liner-eel-item.liner-checked {
	color: #ffffff !important;
	background-color: #00bdb8 !important;
}

.liner-eeli-check {
	cursor: pointer !important;
	float: left;
	margin-top: 12px !important;
	margin-left: 20px !important;
	width: 14px !important;
	height: 14px !important;
	border-radius: 1.4px !important;
	background-color: #ffffff !important;
	border: solid 0.9px #aaaaaa !important;
}

.liner-eeli-check.liner-checked {
	background-image: url(../res/modeon/check@2x.png) !important; 
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.liner-eeli-name {
	float: left !important;
	margin-top: 13px !important;
	margin-left: 20px !important;
	height: 15px !important;
	font-family: Arial !important;
	font-size: 13px !important;
	font-weight: 500 !important;
	text-align: left !important;
	width: 35% !important;
}

.liner-eeli-email {
	float: left !important;
	margin-top: 14px !important;
	margin-left: 20px !important;
	height: 15px !important;
	font-family: Arial !important;
	font-size: 13px !important;
	text-align: left !important;
	width: 45% !important;
}

.liner-eel-send {
	float: right !important;
	width: 149px !important;
	height: 40px !important;
	margin-top: 44px !important;
	margin-bottom: 33px !important;
	margin-right: 40px !important;
	line-height: 43px !important;
	font-family: MontserratMedium !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	text-align: center !important;
	text-decoration: none !important;
	color: #ffffff !important;
	border-radius: 20px;
	background-color: #f55548 !important;
}

.liner-eel-send.liner-disabled {
	cursor: not-allowed !important;
	background-color: #cccccc !important;
}

.liner-eel-send:not(.liner-disabled):hover {
	opacity: 0.7 !important;
}

._saveToLiner {
	background-image: url(../res/liner-fb-btn@2x.png) !important;
	background-size: 19px 19px !important;
	background-repeat: no-repeat !important;
	background-position: 0 3px !important;
}

.Icon--liner {
	width: 24px;
	height: 20px;
	background-image: url(../res/liner-twitter-btn-n@2x.png) !important;
	background-size: 24px 20px !important;
	background-repeat: no-repeat !important;
}

.Icon--liner:hover {
	background-image: url(../res/liner-twitter-btn-p@2x.png) !important;
	background-size: 24px 20px !important;
	background-repeat: no-repeat !important;
}

.liner_pocket_icon_small {
	width: 20px !important;
	height: 20px !important;
	margin-left: 5px !important;
	background-image: url(../res/liner-pocket-btn-n@3x.png) !important;
	background-size: 20px 20px !important;
	background-repeat: no-repeat !important;
}

.liner_pocket_icon_small:hover {
	background-image: url(../res/liner-pocket-btn-p@3x.png) !important;
}
